.tab {
  align-items: center;
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  position: relative;
}

.tab .all {
  font-family: var(--14-semibold-font-family);
  font-size: var(--14-semibold-font-size);
  font-style: var(--14-semibold-font-style);
  font-weight: var(--14-semibold-font-weight);
  letter-spacing: var(--14-semibold-letter-spacing);
  line-height: var(--14-semibold-line-height);
  position: relative;
  width: fit-content;
}

.tab.inactive {
  background-color: var(--default-80);
  padding: 13px 16px;
}

.tab.active {
  background-color: var(--yellow);
  padding: 12px 16px;
}

.tab.inactive .all {
  color: var(--default-0);
  margin-bottom: -1px;
  margin-top: -2px;
}

.tab.active .all {
  color: var(--default-100);
  margin-top: -1px;
}
