:root {
  --12-bold-font-family: "Gellix-Bold", Helvetica;
  --12-bold-font-size: 12px;
  --12-bold-font-style: normal;
  --12-bold-font-weight: 700;
  --12-bold-letter-spacing: 0px;
  --12-bold-line-height: normal;
  --12-medium-font-family: "Gellix-Medium", Helvetica;
  --12-medium-font-size: 12px;
  --12-medium-font-style: normal;
  --12-medium-font-weight: 500;
  --12-medium-letter-spacing: 0px;
  --12-medium-line-height: normal;
  --12-regular-font-family: "Gellix-Regular", Helvetica;
  --12-regular-font-size: 12px;
  --12-regular-font-style: normal;
  --12-regular-font-weight: 400;
  --12-regular-letter-spacing: 0px;
  --12-regular-line-height: normal;
  --12-semibold-font-family: "Gellix-SemiBold", Helvetica;
  --12-semibold-font-size: 12px;
  --12-semibold-font-style: normal;
  --12-semibold-font-weight: 600;
  --12-semibold-letter-spacing: 0.4000000059604645px;
  --12-semibold-line-height: 14px;
  --14-medium-font-family: "Gellix-Medium", Helvetica;
  --14-medium-font-size: 14px;
  --14-medium-font-style: normal;
  --14-medium-font-weight: 500;
  --14-medium-letter-spacing: 0px;
  --14-medium-line-height: normal;
  --14-regular-font-family: "Gellix-Regular", Helvetica;
  --14-regular-font-size: 14px;
  --14-regular-font-style: normal;
  --14-regular-font-weight: 400;
  --14-regular-letter-spacing: 0px;
  --14-regular-line-height: normal;
  --14-semibold-font-family: "Gellix-SemiBold", Helvetica;
  --14-semibold-font-size: 14px;
  --14-semibold-font-style: normal;
  --14-semibold-font-weight: 600;
  --14-semibold-letter-spacing: 0px;
  --14-semibold-line-height: normal;
  --16-regular-font-family: "Gellix-Regular", Helvetica;
  --16-regular-font-size: 16px;
  --16-regular-font-style: normal;
  --16-regular-font-weight: 400;
  --16-regular-letter-spacing: 0px;
  --16-regular-line-height: normal;
  --16-semibold-font-family: "Gellix-SemiBold", Helvetica;
  --16-semibold-font-size: 16px;
  --16-semibold-font-style: normal;
  --16-semibold-font-weight: 600;
  --16-semibold-letter-spacing: 0px;
  --16-semibold-line-height: normal;
  --18-semibold-font-family: "Gellix-SemiBold", Helvetica;
  --18-semibold-font-size: 18px;
  --18-semibold-font-style: normal;
  --18-semibold-font-weight: 600;
  --18-semibold-letter-spacing: 0px;
  --18-semibold-line-height: normal;
  --22-bold-font-family: "Gellix-Bold", Helvetica;
  --22-bold-font-size: 22px;
  --22-bold-font-style: normal;
  --22-bold-font-weight: 700;
  --22-bold-letter-spacing: 0.800000011920929px;
  --22-bold-line-height: normal;
  --32-bold-font-family: "Gellix-Bold", Helvetica;
  --32-bold-font-size: 32px;
  --32-bold-font-style: normal;
  --32-bold-font-weight: 700;
  --32-bold-letter-spacing: 0.800000011920929px;
  --32-bold-line-height: normal;
  --black-40: rgba(7, 14, 29, 0.4);
  --blue: rgba(159, 177, 255, 1);
  --box-1-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.16);
  --bright: 0px 0px 14px 0px rgba(255, 255, 255, 0.48);
  --chat-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.11);
  --default-0: rgba(245, 245, 245, 1);
  --default-100: rgba(7, 14, 29, 1);
  --default-20: rgba(211, 211, 211, 1);
  --default-50: rgba(145, 157, 175, 1);
  --default-60: rgba(88, 96, 109, 1);
  --default-70: rgba(45, 52, 68, 1);
  --default-80: rgba(28, 36, 49, 1);
  --default-90: rgba(17, 24, 39, 1);
  --desktop-b1-body-font-family: "RocGrotesk-Light", Helvetica;
  --desktop-b1-body-font-size: 18px;
  --desktop-b1-body-font-style: normal;
  --desktop-b1-body-font-weight: 300;
  --desktop-b1-body-letter-spacing: 0.18px;
  --desktop-b1-body-line-height: 139.9999976158142%;
  --desktop-b2-body-font-family: "RocGrotesk-Light", Helvetica;
  --desktop-b2-body-font-size: 16px;
  --desktop-b2-body-font-style: normal;
  --desktop-b2-body-font-weight: 300;
  --desktop-b2-body-letter-spacing: 0.08px;
  --desktop-b2-body-line-height: 139.9999976158142%;
  --desktop-button-large-font-family: "RocGrotesk-WideMedium", Helvetica;
  --desktop-button-large-font-size: 22px;
  --desktop-button-large-font-style: normal;
  --desktop-button-large-font-weight: 500;
  --desktop-button-large-letter-spacing: -0.22px;
  --desktop-button-large-line-height: 139.9999976158142%;
  --desktop-button-normal-font-family: "RocGrotesk-WideMedium", Helvetica;
  --desktop-button-normal-font-size: 16px;
  --desktop-button-normal-font-style: normal;
  --desktop-button-normal-font-weight: 500;
  --desktop-button-normal-letter-spacing: -0.16px;
  --desktop-button-normal-line-height: 139.9999976158142%;
  --desktop-button-small-font-family: "RocGrotesk-WideMedium", Helvetica;
  --desktop-button-small-font-size: 14px;
  --desktop-button-small-font-style: normal;
  --desktop-button-small-font-weight: 500;
  --desktop-button-small-letter-spacing: -0.14px;
  --desktop-button-small-line-height: 139.9999976158142%;
  --desktop-h1-headline-font-family: "RocGrotesk-WideBold", Helvetica;
  --desktop-h1-headline-font-size: 60px;
  --desktop-h1-headline-font-style: normal;
  --desktop-h1-headline-font-weight: 700;
  --desktop-h1-headline-letter-spacing: -1.2px;
  --desktop-h1-headline-line-height: 110.00000238418579%;
  --desktop-h2-headline-font-family: "RocGrotesk-WideMedium", Helvetica;
  --desktop-h2-headline-font-size: 48px;
  --desktop-h2-headline-font-style: normal;
  --desktop-h2-headline-font-weight: 500;
  --desktop-h2-headline-letter-spacing: -0.96px;
  --desktop-h2-headline-line-height: 120.00000476837158%;
  --desktop-h3-headline-font-family: "RocGrotesk-WideBold", Helvetica;
  --desktop-h3-headline-font-size: 32px;
  --desktop-h3-headline-font-style: normal;
  --desktop-h3-headline-font-weight: 700;
  --desktop-h3-headline-letter-spacing: -0.64px;
  --desktop-h3-headline-line-height: 120.00000476837158%;
  --desktop-h4-headline-font-family: "RocGrotesk-WideMedium", Helvetica;
  --desktop-h4-headline-font-size: 24px;
  --desktop-h4-headline-font-style: normal;
  --desktop-h4-headline-font-weight: 500;
  --desktop-h4-headline-letter-spacing: -0.48px;
  --desktop-h4-headline-line-height: 120.00000476837158%;
  --desktop-h5-headline-font-family: "RocGrotesk-WideMedium", Helvetica;
  --desktop-h5-headline-font-size: 18px;
  --desktop-h5-headline-font-style: normal;
  --desktop-h5-headline-font-weight: 500;
  --desktop-h5-headline-letter-spacing: -0.36px;
  --desktop-h5-headline-line-height: 120.00000476837158%;
  --desktop-placeholder-font-family: "RocGrotesk-Light", Helvetica;
  --desktop-placeholder-font-size: 14px;
  --desktop-placeholder-font-style: normal;
  --desktop-placeholder-font-weight: 300;
  --desktop-placeholder-letter-spacing: -0.14px;
  --desktop-placeholder-line-height: 139.9999976158142%;
  --desktop-text-title-font-family: "RocGrotesk-Regular", Helvetica;
  --desktop-text-title-font-size: 10px;
  --desktop-text-title-font-style: normal;
  --desktop-text-title-font-weight: 400;
  --desktop-text-title-letter-spacing: -0.1px;
  --desktop-text-title-line-height: 139.9999976158142%;
  --filtros-font-family: "HalenoirCompact-Medium-Regular", Helvetica;
  --filtros-font-size: 15px;
  --filtros-font-style: normal;
  --filtros-font-weight: 400;
  --filtros-letter-spacing: 0.45px;
  --filtros-line-height: 28px;
  --game-title-font-family: "RocGrotesk-WideMedium", Helvetica;
  --game-title-font-size: 13px;
  --game-title-font-style: normal;
  --game-title-font-weight: 500;
  --game-title-letter-spacing: -0.13px;
  --game-title-line-height: 139.9999976158142%;
  --gold: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
  --icon-card-font-family: "RocGrotesk-Light", Helvetica;
  --icon-card-font-size: 9px;
  --icon-card-font-style: normal;
  --icon-card-font-weight: 300;
  --icon-card-letter-spacing: 0.27px;
  --icon-card-line-height: 28px;
  --landing: 4px 4px 20px 0px rgba(0, 0, 0, 0.43);
  --mobile-b1-body-font-family: "Halenoir-Medium-Regular", Helvetica;
  --mobile-b1-body-font-size: 16px;
  --mobile-b1-body-font-style: normal;
  --mobile-b1-body-font-weight: 400;
  --mobile-b1-body-letter-spacing: 0.16px;
  --mobile-b1-body-line-height: 139.9999976158142%;
  --mobile-b2-body-font-family: "RocGrotesk-Light", Helvetica;
  --mobile-b2-body-font-size: 14px;
  --mobile-b2-body-font-style: normal;
  --mobile-b2-body-font-weight: 300;
  --mobile-b2-body-letter-spacing: 0.07px;
  --mobile-b2-body-line-height: 139.9999976158142%;
  --mobile-h1-headline-font-family: "RocGrotesk-WideMedium", Helvetica;
  --mobile-h1-headline-font-size: 30px;
  --mobile-h1-headline-font-style: normal;
  --mobile-h1-headline-font-weight: 500;
  --mobile-h1-headline-letter-spacing: -0.6px;
  --mobile-h1-headline-line-height: 120.00000476837158%;
  --mobile-h2-headline-font-family: "RocGrotesk-WideMedium", Helvetica;
  --mobile-h2-headline-font-size: 20px;
  --mobile-h2-headline-font-style: normal;
  --mobile-h2-headline-font-weight: 500;
  --mobile-h2-headline-letter-spacing: -0.4px;
  --mobile-h2-headline-line-height: 120.00000476837158%;
  --mobile-h3-headline-font-family: "RocGrotesk-WideMedium", Helvetica;
  --mobile-h3-headline-font-size: 18px;
  --mobile-h3-headline-font-style: normal;
  --mobile-h3-headline-font-weight: 500;
  --mobile-h3-headline-letter-spacing: -0.36px;
  --mobile-h3-headline-line-height: 120.00000476837158%;
  --mobile-h4-headline-font-family: "RocGrotesk-WideMedium", Helvetica;
  --mobile-h4-headline-font-size: 16px;
  --mobile-h4-headline-font-style: normal;
  --mobile-h4-headline-font-weight: 500;
  --mobile-h4-headline-letter-spacing: -0.32px;
  --mobile-h4-headline-line-height: 120.00000476837158%;
  --mobile-h5-headline-font-family: "RocGrotesk-WideMedium", Helvetica;
  --mobile-h5-headline-font-size: 14px;
  --mobile-h5-headline-font-style: normal;
  --mobile-h5-headline-font-weight: 500;
  --mobile-h5-headline-letter-spacing: -0.28px;
  --mobile-h5-headline-line-height: 120.00000476837158%;
  --nft-small: -2px 1px 5px 0px rgba(0, 0, 0, 0.63);
  --posttt: 2px 2px 24px 0px rgba(255, 255, 255, 0.06);
  --pub-inner: ;
  --pubbb: 4px 4px 20px 0px rgba(0, 0, 0, 0.43);
  --rankfirst: rgba(232, 141, 30, 1);
  --rankfourth: rgba(64, 72, 87, 1);
  --ranksecond: rgba(182, 180, 208, 1);
  --rankthird: rgba(201, 123, 128, 1);
  --red: rgba(235, 87, 87, 1);
  --smallest-font-family: "RocGrotesk-Light", Helvetica;
  --smallest-font-size: 7px;
  --smallest-font-style: normal;
  --smallest-font-weight: 300;
  --smallest-letter-spacing: -0.07px;
  --smallest-line-height: 139.9999976158142%;
  --subbb-font-family: "RocGrotesk-WideMedium", Helvetica;
  --subbb-font-size: 14px;
  --subbb-font-style: normal;
  --subbb-font-weight: 500;
  --subbb-letter-spacing: -0.14px;
  --subbb-line-height: 155.9999942779541%;
  --text-card-font-family: "RocGrotesk-Light", Helvetica;
  --text-card-font-size: 11px;
  --text-card-font-style: normal;
  --text-card-font-weight: 300;
  --text-card-letter-spacing: -0.11px;
  --text-card-line-height: 166.49999618530273%;
  --wallwt-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.3);
  --white-5: rgba(255, 255, 255, 0.05);
  --yellow: rgba(225, 255, 68, 1);
  --yellow-10: rgba(225, 255, 68, 0.1);
  --yellow-40: rgba(225, 255, 68, 0.4);
}
